/*Color Palates*/
:root {
    padding:0px;
    margin: 0px;
    --1:#514e96;
    --2:#77ACF1;
    --3:#3EDBF0;
    --4:#C0FEFC; 
}
/* :root {
    --1: #98A8F8;
    --2: #BCCEF8;
    --3: #CDFCF6;
    --4: #FAF7F0;
} */

body {
    background-color: var(--1);
    color: var(--4);
}

a {
    color: var(--1);
}

/*Double check case*/
#Header {
    padding: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--2);
    width: 100%;
}

.Header-Items {
    padding: 20px;
    margin: 5px;
}

#main {
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 25px;
    max-height: 160px;
    align-content: space-evenly;
    
}

#Introduction.card {
    color: black;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content:flex-start; */
    /* flex-direction: row;   */
    /* align-items: center; */
    margin: 5px;
    position: absolute;
    min-height: 420px;
    width: 225px;
    border-radius: 200px 200px 10px 10px;
    margin-left: 50px;
    z-index: 2;
}

#Name-Links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 160px;
    padding: 0px; 
    height: 16px; 
    position: relative;
    max-width: 600px;
    /* justify-content: space-evenly; */
    /* align-content: flex-start; */
    /* width: 1000px */
    /* margin-left: 330px; */
}

.ProfileInfo {
    padding: 5px;
    color: black;
    justify-content: center;
}

#applications {
  
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    max-width: 100%;
    padding-left: 296px;
    position: relative;
    z-index: 1;
    
    
}
#aboutSection{
    display: none;
}
.Application {
    border-radius: 15px;
    width: 250px;
    height:300px;
    background-color: white;
    /* background-image:url("./images/Screenshot-2023-02-17-094839.jpg"); */
    background-size:610px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.linkBox {
    margin: 5px;
    background-color: var(--3);
    padding: 0px 25px;
    border-radius: 7px;
    color: var(--1);
    text-decoration: none;
    
}
p{
    color: var(--1);
    line-height: 18px;
    padding:5px;
}
#smallApps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 620px;
}

#apps {
      /* display: none; */
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-around;
    /* padding-left: 380px; */
    /* font-size: 30px; */
    /* width: 620px; */
   
}
#showcase{
    /* display: none; */
    display: flex;
    flex-wrap: wrap;
    max-width: 100vw;
    transition-property: display;
    transition-duration: 20s;
    transition-timing-function: linear;
    justify-content: center;
}

.showApplication {
    border-radius: 15px;
    width: 505px;
    max-width: 100vw;
    height:320px;
    background-color: white;
    /* background-image:url("./images/Screenshot-2023-02-17-094839.jpg"); */
    /* background-size:610px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
}
.caseBox {
    font-weight: 900;
    margin: 5px;
    background-color: var(--3);
    padding: 0px 100px;
    border-radius: 7px;
    color: black;
    text-decoration: none;
    
}
img {
    width: 100%;
     border-radius: 15px;
}
img.card-img-top {
    border-radius: 200px; 
    padding: 5px
}

.card-body {
    padding: 7px;
    justify-items: center;
}
.card-link {
    color: black;
}

img.d-inline-block.align-text-top {
    height: 60px;
    border-radius: 30px;
}

@media screen and (max-width: 400px) {
    #applications {
        padding-left: 0px;
    }
}

@media screen and (max-width:768px) {
    #main {
        display: flex;
        flex-flow: row wrap;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: stretch;
        align-items: flex-start;
        justify-content: center;
        padding-left: 0px;
    }
    .apps {
        display: flex;
        padding: 5px;
        padding-left: 0px;
        /* font-size: 30px; */
        /* width: 620px; */
       
    }
    #Introduction.card {
        color: black;
        /* display: flex; */
        /* flex-wrap: wrap; */
        /* justify-content:flex-start; */
        flex-direction: column;
        align-items: center;
        margin: 55px;
        position: relative;
        min-height: 420px;
        /* margin-left: 0px; */
        padding: 0px
    }
    #applications {
        padding-left: 0px;
    }
}