/*Color Palates*/
/* :root {
    --1:#514e96;
    --2:#77ACF1;
    --3:#3EDBF0;
    --4:#C0FEFC; 
} */
:root {
    --1:#98A8F8;
    --2:#BCCEF8;
    --3:#CDFCF6;
    --4:#FAF7F0;
}
body {
    background-color:var(--1);
    color:var(--4);
}
a {
    color:var(--4);
}
/*Double check case*/
#Header {
    padding: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--2);
    width: 100%;
}
.Header-Items {
    padding: 20px;
    margin: 5px;
}
#main {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 25px;
    max-height: 160px;
    align-content: space-evenly;
}
#Introduction {
    color: black;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content:flex-start; */
    /* flex-direction: row;   */
    /* align-items: center; */
    margin: 5px;
    position: absolute;
    min-height: 420px;
}
#Name-Links {
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    max-height: 160px;
    /* justify-content: space-evenly; */
    align-content: flex-start;
 }
 .ProfileInfo{
    padding:5px;
    color: black;
    justify-content: center;
 }
 #applications {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    width: 100%vp;
    
 }
#smallApps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;   
    max-width: 620px;
}
.apps{
    padding: 5px;
    font-size: 30px;

}
img {
    width: 100%;
}
@media screen and (max-width: 400px) {
    /* #applications{
        align-items: stretch;
        max-width: 400px;
    } */
}

.card-link {
    color: black;
}
img.d-inline-block.align-text-top {
    height: 60px;
}
@media screen and (max-width:1100px) {
    #main {
        display: flex;
        flex-flow: row wrap;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: stretch;
        align-items: flex-start;
    }
    #Introduction {
        color: black;
        /* display: flex; */
        /* flex-wrap: wrap; */
        /* justify-content:flex-start; */
        flex-direction: column;  
        align-items: center;
        margin: 5px;
        position: absolute;
        min-height: 420px;
}