:root {/*Color Palate*/
    --1:#04009A;
    --2:#77ACF1;
    --3:#3EDBF0;
    --4:#C0FEFC;
}
body {
    background-color:var(--1);
    color:var(--4);
}
a {
    color:var(--4);
}
/*Double check case*/
#Header {
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    background-color: var(--2);
    
}
.Header-Items {
    padding: 20px;
    margin: 5px;
    
}
#Introduction {
    display: flex;
    justify-content:flex-start;
    align-content:center;
    flex-direction: row;  
}
#Name-Links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

 }


